.about .section__box {
  flex-direction: column-reverse;
  gap: 2.5rem;
}

.about__pic {
  align-self: center;
  width: 100%;
  max-width: 500px;
  position: relative;
  border-radius: 20px;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
}


.about__pic img {
  width: 100%;
  border-radius: 20px;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
}

.about__content {
  max-width: 600px;
  margin: 0 auto;
}

.about__content p {
  margin-bottom: 1rem;
}

.stack-list {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
  margin: 2rem 0 0;
}

.stack-item {
  display: flex;
  align-items: center;
  gap: 5px;
  border: 2px solid var(--accent-color);
  padding: 0.5em 1em;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
}

.stack-item > span {
  font-size: 1.2rem;
}

@media (min-width: 768px) {

  .about .section__box {
    flex-direction: row;
    gap: 2rem;
    justify-content: center;
  }

  .about__pic {
    width: 50%;
    max-width: 450px;
    margin: 0;
    align-self: flex-start;
  }

  .about__content {
    width: 50%;
    margin: 0;
    align-self: flex-start;
  }
}